.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    gap: 20px;
}

@media screen and (max-width: 600px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }
}