.footer {
  width: 100%;
  min-height: 50vh;
  background-color: black;
  color: white;
  padding: 3rem 4rem 0rem;
}

.footer-row {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-col {
  width: 33%;
  margin-bottom: 0.1rem;
  padding: 1rem;
}

.footer-col h1 {
  visibility: hidden;
}

.footer-col p {
  margin: 1rem 0rem;
}

.footer-col h2 {
  font-size: 2rem;
}

.footer-col h2::first-letter {
  font-weight: 200;
}

.footer-icon {
  font-size: 1.1rem;
  margin-bottom: -2px;
  margin-right: 7px;
}

.footer-col #email {
  width: 100%;
  display: block;
  margin-bottom: 0.5rem;
  padding: 0.4rem;
  background-color: whitesmoke;
  border-radius: 5px;
  border: none;
  outline: none;
  text-align: center;
  font-weight: 400;
  font-size: 1.1rem;
}

#email::placeholder {
  color: silver;
}

.subscribe-btn {
  background-color: rgb(12, 214, 147);
  padding: 0.5rem;
  width: 100%;
  border: none;
  outline: none;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  font-weight: 600;
}

.social-icons {
  margin-top: 1.5rem !important;
}

.social-media-icon {
  padding: 0.6rem 0.7rem 0.2rem 0.7rem;
  border-radius: 100%;
  font-size: 1.2rem;
  margin-right: 0.6rem;
}

.facebook {
  background-color: rgb(6, 88, 121);
}

.twitter {
  background-color: rgb(43, 209, 154);
}

.youtube {
  background-color: rgb(190, 27, 27);
}

.pinterest {
  background-color: rgb(240, 34, 34);
}

.instagram {
  background-color: #6c5ce7;
}

/* footer-row-2 */
.footer-row-2 {
  border-top: 1px solid rgb(74, 74, 74);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  padding: 0.5rem 0;
}

.footer-row-2 ul li {
  display: inline;
}

.footer-row-2 ul li a {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  margin: 0 1rem;
}

/* Tablet styles */
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .footer {
    padding: 2.5rem 2rem 0rem;
  }

  .footer-row {
    flex-wrap: wrap;
  }

  .footer-col {
    width: 48%;
    margin-bottom: 1.5rem;
  }

  .footer-col h2 {
    font-size: 1.8rem;
  }

  .social-icons {
    margin-top: 1rem !important;
  }

  .footer-row-2 {
    padding: 1rem 0;
  }
}

/* Mobile styles */
@media screen and (max-width: 767px) {
  .footer {
    padding: 2rem 1rem;
  }

  .footer-row {
    flex-direction: column;
    justify-content: center;
  }

  .footer-col {
    width: 100%;
    padding: 0.8rem;
  }

  .footer-col h2 {
    font-size: 1.6rem;
  }

  .footer-col p {
    margin: 0.8rem 0;
  }

  .social-media-icon {
    padding: 0.5rem 0.6rem 0.2rem 0.6rem;
    font-size: 1.1rem;
    margin-right: 0.5rem;
  }

  .footer-row-2 {
    flex-direction: column;
    padding: 0.8rem 0;
  }

  .footer-row-2 ul {
    margin-top: 1rem;
  }

  .footer-row-2 ul li a {
    font-size: 0.85rem;
    margin: 0 0.5rem;
  }
}

/* Extra small mobile devices */
@media screen and (max-width: 480px) {
  .footer {
    padding: 1.5rem 0.8rem;
  }

  .footer-col h2 {
    font-size: 1.4rem;
  }

  .footer-col p {
    font-size: 0.9rem;
  }

  .footer-col #email {
    font-size: 1rem;
  }

  .subscribe-btn {
    font-size: 0.9rem;
  }

  .social-media-icon {
    padding: 0.4rem 0.5rem 0.2rem 0.5rem;
    font-size: 1rem;
    margin-right: 0.4rem;
  }

  .footer-row-2 ul li a {
    margin: 0 0.3rem;
    font-size: 0.8rem;
  }
}