.login {
    display: flex;
    justify-content: center;
    padding: 100px;
    background-image: url("https://images.unsplash.com/photo-1548618607-fe992dd33eff?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.login-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 400px;
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form h1 {
    margin-bottom: 10px;
    color: #333;
}

.login-form p {
    margin-bottom: 20px;
    color: #777;
}

.input-group {
    margin-bottom: 20px;
}

.input-group #email,
input {
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    width: 100%;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.input-group #email:focus,
input:focus {
    border-color: #000000;
    outline: none;
}

.input-group input:disabled {
    background-color: #f5f5f5;
    cursor: not-allowed;
    opacity: 0.6;
}

button {
    padding: 15px;
    border: none;
    border-radius: 8px;
    background-color: #121212;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

button:hover:not(:disabled) {
    border: 2px solid black;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

button:disabled {
    background-color: #666;
    cursor: not-allowed;
    opacity: 0.7;
}

button.loading {
    background-color: #444;
}

/* Spinner animation */
.spinner {
    animation: spin 1s linear infinite;
    font-size: 18px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.bottom-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: #777;
}

.bottom-text p {
    margin-bottom: 10px;
}

.bottom-text a {
    color: #000d6b;
    text-decoration: none;
    transition: color 0.3s ease;
}

.bottom-text a:hover {
    color: #0016bb;
}

@media screen and (max-width: 600px) {
    .login {
        padding: 50px 20px;
    }

    .login-container {
        width: 100%;
        padding: 30px 20px;
        border-radius: 10px;
    }

    button {
        font-size: 14px;
        padding: 12px;
    }
}